
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
	<h1>About</h1>
	<p>ASP.net introductory project that we have been creating each class.</p>
	<p>Built using ASP.NET Core 2.2, SQL Server, Entity Frameowrk and Twitter</p>
</div>

